---
- name: Pressluft manage volume
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    size_gb: "{{ size_gb | default(0) }}"
    location: "{{ location | default('') }}"
    automount: "{{ automount | default(false) }}"
  tasks:
    - name: Validate required inputs
      ansible.builtin.assert:
        that:
          - api_token | length > 0
          - volume_name | length > 0
          - state in ['present', 'absent']
          - server_name | length > 0
          - state != 'present' or (size_gb | int > 0)

    - name: Manage volume
      hetzner.hcloud.volume:
        api_token: "{{ api_token }}"
        name: "{{ volume_name }}"
        server: "{{ server_name }}"
        size: "{{ (state == 'present') | ternary(size_gb | int, omit) }}"
        location: "{{ (state == 'present' and (server_name | length == 0)) | ternary(location, omit) }}"
        automount: "{{ (state == 'present') | ternary(automount | bool, omit) }}"
        state: "{{ state }}"
